@layer components {

  /* Variables */
  .demo1 {
    --sidebar-transition-duration: 0.3s;
    --sidebar-transition-timing: ease;
    --sidebar-width: 280px;
    --sidebar-width-collapse: 80px;
    --sidebar-default-width: 280px;
    --header-height: 70px;
  }

  @media (max-width: theme(--breakpoint-lg)) {
    .demo1 {
      --sidebar-width: 280px;
      --header-height: 60px;
    }
  }

  /* Base */
  .demo1 .header {
    height: var(--header-height);
  }

  .demo1 .sidebar {
    width: var(--sidebar-width);
  }

  .demo1.header-fixed .wrapper {
    padding-top: var(--header-height);
  }

  /* Desktop mode */
  @media (min-width: theme(--breakpoint-lg)) {
    .demo1 .sidebar {
      width: var(--sidebar-width);
      transition: width var(--sidebar-transition-duration) var(--sidebar-transition-timing);
    }

    .demo1 .sidebar .sidebar-header {
      height: var(--header-height);
    }

    .demo1 .sidebar .sidebar-wrapper {
      width: var(--sidebar-default-width);
    }

    .demo1 .sidebar .sidebar-logo {
      width: var(--sidebar-default-width);
    }

    .demo1 .sidebar .small-logo {
      display: none;
    }

    .demo1.sidebar-fixed .wrapper {
      padding-inline-start: var(--sidebar-width) !important;
    }

    .demo1.sidebar-fixed.header-fixed .header {
      inset-inline-start: var(--sidebar-width) !important;
    }

    .demo1.sidebar-fixed.header-fixed .wrapper {
      padding-top: var(--header-height);
    }

    .demo1.sidebar-collapse {
      --sidebar-width: var(--sidebar-width-collapse);
    }

    .demo1.sidebar-collapse .sidebar {
      transition: width var(--sidebar-transition-duration) var(--sidebar-transition-timing);
    }

    .demo1.sidebar-collapse .sidebar:hover {
      width: var(--sidebar-default-width);
    }

    .demo1.sidebar-collapse .sidebar:not(:hover) .default-logo {
      display: none;
    }

    .demo1.sidebar-collapse .sidebar:not(:hover) .small-logo {
      display: flex;
    }

    .demo1.sidebar-collapse .sidebar:not(:hover) [data-slot='accordion-menu-title'],
    .demo1.sidebar-collapse .sidebar:not(:hover) [data-slot='badge'],
    .demo1.sidebar-collapse .sidebar:not(:hover) [data-slot='accordion-menu-sub-indicator'] {
      display: none !important;
      transition: none !important;
      animation: none !important;
    }

    .demo1.sidebar-collapse .sidebar:not(:hover) [data-slot='accordion-menu-sub-content'] {
      visibility: hidden;
      position: absolute;
      height: 0;
      width: 0;
    }

    .demo1.sidebar-collapse .sidebar:not(:hover) [data-slot='accordion-menu-label'] {
      visibility: hidden;
      position: relative;
    }

    .demo1.sidebar-collapse .sidebar:not(:hover) [data-slot='accordion-menu-label']::before {
      content: '...';
      color: currentColor;
      font-size: inherit;
      position: absolute;
      visibility: visible;
      display: inline-block;
      bottom: 50%;
      inset-inline-start: 0;
      margin-inline-start: -0.15rem;
      top: 0.25rem;
      transform: translateX(100%);
    }
  }

  .demo1.layout-initialized .wrapper {
    transition: padding-inline-start var(--sidebar-transition-duration) var(--sidebar-transition-timing);
  }

  .demo1.layout-initialized .header {
    transition: inset-inline-start var(--sidebar-transition-duration) var(--sidebar-transition-timing);
  }
}


.left_sidebar .accordion-toggle span {
  color: #fff;
}

.chatbox_chat .str-chat__main-panel-inner {
  height: calc(100% - 110px);
}

.chatbox_chat .chat-sidebar {
  height: 100%;
}

.chatbox_chat .chat-sidebar .card {
  height: 100%;
}

.chatbox_chat .chat-components {
  height: 100%;
}

.chatbox_chat .str-chat {
  height: 100%;
}

.chatbox_chat .str-chat__container {
  height: 100%;
}

.chatbox_chat .str-chat__main-panel {
  height: 100%;
}

.educator_chatbox_chat .str-chat__main-panel-inner {
  height: calc(100% - 130px);
}

.educator_chatbox_chat .chat-sidebar {
  height: 100%;
}

.educator_chatbox_chat .chat-sidebar .card {
  height: 100%;
}

.educator_chatbox_chat .chat-components {
  height: 100%;
}

.educator_chatbox_chat .str-chat {
  height: 100%;
}

.educator_chatbox_chat .str-chat__container {
  height: 100%;
}

.educator_chatbox_chat .str-chat__main-panel {
  height: 100%;
}

.live_chat .input-ui-input textarea {
  width: 100%;
  padding: 16px;
  padding-right: 48px;
  border-radius: 0 0 8px 8px;
  border: 1px solid #dee2e8;
  box-shadow: var(--tw-card-box-shadow);
  outline: none;
  color: #1f2937;
  font-size: 12px;
  transition: box-shadow 0.2s ease;
}

.live_chat .input-ui-input textarea:focus {
  box-shadow: 0 0 0 1px #6366f1 !important;
}

.live_chat .input-ui-send-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px;
  color: #6b7280;
  transition-duration: 200ms;
  outline: none;
}

.vjs-control.vjs-button.vjs-rewind-button {
  font-size: 15px;
  width: 40px;
}

.vjs-control.vjs-button.vjs-rewind-button:active {
  color: var(--tw-gray-900);
}

.vjs-control.vjs-button.vjs-forward-button {
  font-size: 15px;
  width: 40px;
}

.vjs-control.vjs-button.vjs-forward-button:active {
  color: var(--tw-gray-900);
}

.str-chat__unread-messages-notification {
  display: none !important;
}

.dark .ant-select-selector {
  background-color: #1e212a !important;
  border-color: #363944 !important;
}

.dark .ant-select-selection-placeholder {
  color: #fff;
}

.animated-bg {
  background: linear-gradient(11deg, #7f80ff, #5b4bff, #1e0066);
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
}


.str-chat__parent-message-li {
  padding: 0;
}

.str-chat__parent-message-li .message-ui-options {
  display: none;
}

.str-chat__li {
  padding: 0;
}

.message-ui {
  width: 100%;
  position: relative;
  display: flex;
  gap: 10px;
  /* padding: var(--message-padding); */
}

.message-ui .message-ui-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  min-width: 0;
}

.message-ui .message-ui-content .message-ui-content-top {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 5px;
}

.message-ui .message-ui-content .message-ui-content-top .message-ui-content-top-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 0;
}

.message-ui .message-ui-content .message-ui-content-top .message-ui-content-top-title {
  margin-right: 4px;
}

.message-ui .message-ui-content .message-ui-content-bottom {
  word-break: break-word;
}

.message-ui .message-ui-upvote-button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 6px;
}

.str-chat__message-replies-count-button {
  display: block;
  padding: 0;
  margin-top: 8px;
  line-height: 15px;
}

.str-chat__virtual-list .str-chat__parent-message-li:hover {
  background: #fce4ec;
  /* Light Pink */
}

.str-chat__virtual-list .message-ui {
  font-size: 14px;
  color: #2c3e50;
  /* Dark Blue-Gray */
  /* background: #ecf0f1;  */
  transition: background 0.3s ease-in-out;
}

.dark .str-chat__virtual-list .message-ui {
  background: #111217;
  /* Light Gray */
}

.str-chat__virtual-list .message-ui:hover {
  background: #ecf0f1;
}

.dark .str-chat__virtual-list .message-ui:hover {
  background: #111217;
}

.dark .str-chat__avatar-fallback {
  color: #C4CADA;
}

.dark .message-ui-content-bottom {
  color: #C4CADA;
}

.str-chat__virtual-list .message-ui .message-ui-content-top .message-ui-content-top-name {
  font-weight: 600;
  color: #ff5722;
  /* Deep Orange */
}

.str-chat__virtual-list .message-ui .message-ui-content-top .message-ui-content-top-title {
  color: #9c27b0;
  /* Purple */
  font-size: 12px;
}

.str-chat__virtual-list .message-ui .message-ui-content-top .message-ui-content-top-time {
  color: #607d8b;
  /* Blue-Gray */
  font-size: 12px;
}

.str-chat__virtual-list .message-ui.theme-open {
  transition: background 1s ease;
}

.str-chat__virtual-list .str-chat__message-replies-count-button {
  border: none;
  background: none;
  font-size: 12px;
  font-weight: 700;
  color: #03a9f4;
  /* Sky Blue */
  cursor: pointer;
}

.str-chat__virtual-list .message-ui-upvote-button {
  border-radius: 8px;
  background: #8bc34a;
  /* Light Green */
  transition: background 1s ease;
  cursor: pointer;
}

.str-chat__virtual-list .message-ui-upvote-button svg {
  fill: #e91e63;
  /* Hot Pink */
}

.str-chat__virtual-list .message-ui-upvote-button:hover {
  cursor: pointer;
  color: #ff9800;
  /* Orange */
  background: #4caf50;
  /* Green */
  transition: none;
}

.str-chat__virtual-list .message-ui-upvote-button:hover svg {
  fill: #f44336;
  /* Red */
}

.str-chat__virtual-list .message-ui-upvote-button:active {
  background: #3f51b5;
  /* Indigo */
  transition: none;
  color: #ffffff;
  /* White */
}

.str-chat__virtual-list .message-ui-upvote-button:active svg {
  fill: #ffffff;
}

.str-chat__virtual-list .message-ui-upvote-button.up-voted {
  background: #ff4081;
  /* Bright Pink */
  color: #ffffff;
}

.str-chat__virtual-list .message-ui-upvote-button.up-voted svg {
  fill: #ffffff;
}

.str-chat__message-list-scroll {
  height: unset !important;
}

.str-chat__message-list-scroll>div {
  position: relative !important;
}

.rta__textarea {
  display: block;
  width: 100%;
  appearance: none;
  box-shadow: none;
  outline: none;
  font-weight: 500;
  font-size: 0.8125rem;
  background-color: var(--tw-light-active);
  border-radius: 0 0 10px 10px;
  padding: 0.55rem 0.75rem;
  border: 1px solid var(--tw-gray-300);
  color: var(--tw-gray-700);
}

.chat-components-header {
  border-radius: 10px 10px 0 0;
}

.chat-components {
  font-family: "Termina", sans-serif;
}

.chatbox_chat {
  font-family: "Termina", sans-serif;
}

.dark .rta__textarea {
  background: #111217;
  /* Light Gray */
  border-color: hsl(var(--border));
}

.rta__textarea::placeholder {
  color: var(--tw-gray-500);
}

.str-chat__main-panel-inner {
  overflow: auto;
  /* height: 310px !important; */
  height: calc(100vh - 260px);
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12); */
  border: 1px solid oklch(94% 0.004 286.32);
  border-bottom: unset;
}

.dark .str-chat__main-panel-inner {
  border-color: #2a2627 !important;
}

.str-chat__empty-channel-text {
  font-size: small;
}

.message-ui-content-top-name {
  color: var(--tw-gray-900) !important;
}

.dark .message-ui-content-top-name {
  color: #F1F1F4 !important;
}

.str-chat__empty-channel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.str-chat__virtual-list {
  height: 200px !important;
}

.str-chat__message-list-scroll [data-test-id="virtuoso-item-list"] {
  padding-top: 0 !important;
}

.dark .str-chat__main-panel-inner {
  border-color: hsl(var(--border));
}

.chat-sidebar .card {
  height: 70vh;
}

.tag-input>div input::placeholder {
  font-weight: 500;
  color: var(--tw-gray-500);
  font-size: small;
}

.avatar_img img {
  border-radius: 50px;
}

.social_post {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_post img {
  max-width: 650px !important;
  object-fit: contain !important;
  height: auto;
  max-height: 600px;
}
.header_nav {
  color: white !important;
  text-decoration: none !important;
}