# # API Configuration
# VITE_API_URL=http://localhost:3000/api

# # Environment
# VITE_NODE_ENV=development

# # Note: Copy this file to .env and update the values according to your environment 


VITE_APP_NAME=metronic-tailwind-react
VITE_APP_VERSION=1=9.1.1
GENERATE_SOURCEMAP=false

JWT auth api
global url https://preview.keenthemes.com/hero-api/api
local url http://127.0.0.1:8000/api
VITE_APP_API_URL=https://preview.keenthemes.com/hero-api/api
VITE_APP_API_URL=http://localhost:1700/api/v1
VITE_APP_API_URL=http://localhost:1700/api/v1
VITE_API_URL=http://localhost:1700
VITE_API_URL=http://localhost:1700
VITE_APP_STREAM_API_KEY=ut9h2mdjvde9
VITE_APP_CRM_API_KEY=e4c9f3a7216dbe8a5f1c2d49ab3e70891af67c4e92b3d7f1c9ea548b37dc624e