# # API Configuration
# VITE_API_URL=http://localhost:3000/api

# # Environment
# VITE_NODE_ENV=development

# # Note: Copy this file to .env and update the values according to your environment 

VITE_APP_NAME=metronic-react-vite-starter-kit
VITE_APP_VERSION=9.2.6

VITE_APP_API_URL=http://localhost:8000
VITE_APP_STREAM_API_KEY=ut9h2mdjvde9